#modal-categories .badge {
    color: #555;
    background-color: #fff;
}

#modal-categories a.list-group-item {
    border: none;
}

#modal-categories a.list-group-item:hover {
    background: #eaeaea;
}

#modal-categories .list-group-item.active {
    color: #555;
    background: #eaeaea;
}

body.modal-open {
    overflow: hidden;
}

table.dataTable thead th {
    border-bottom: 1px solid #ddd;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ddd;
}

.fa-orange {
    color: orange;
}

.inline {
    display: inline-block !important;
}

.w100 {
    width: 100%;
}

.organization-structure .fa-align-justify{
    padding-top: 15px;
}
.organization-structure #sidebar {
    padding-top: 0px;
}
.organization-structure button {
    margin-bottom: 15px;
}
.organization-structure .employee {
    min-height: 400px!important;
    border-right: 1px solid #dadada;
    border-left: 1px solid #dadada;
}

.border-bottom {
    border: none;
    border-bottom: 1px solid #ccd0d2;
}